<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FCTB" version="2.16.24" targetFramework="net48" />
  <package id="FontAwesome.Sharp" version="6.3.0" targetFramework="net48" />
  <package id="Guna.UI2.WinForms" version="2.0.4.6" targetFramework="net48" />
  <package id="Krypton.Toolkit" version="80.24.3.64" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net472" />
  <package id="ReaLTaiizor" version="3.8.0.5" targetFramework="net48" />
  <package id="runtime.any.System.Runtime.InteropServices" version="4.1.0" targetFramework="net472" />
</packages>